@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: auto;
    overflow-x:hidden ;
}
#logo{
    width: 80px;
    height: 60px;
}
nav{
    width: 100vw;
    height: 76px;
    padding: 8px 0px;
    background-color: white;
    box-shadow:1px 1px 20px rgba(233, 220, 220, 0.637);
    position: fixed;
    top: 0px;    
    z-index: 1;
}

#content{
    width: 1140px;
    height: 60px;
    margin: 0px 62px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
}
#navitem{
    width: 1020px;
    height: 40px;
    display: flex;
    justify-content: end;
}
#mainlist{
    display: flex;
    justify-content: flex-start;
    align-items: center;
     position: absolute;
    left: 310px;
    top: 10px;
}
li{
    list-style: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
a:hover{
    color:#FD5825;
}
#sublist1{
    width: 150px;
    height: 60px;
    background-color: white;
    box-shadow:1px 1px 20px rgba(233, 220, 220, 0.637);
    line-height: 30px;
    display: none;  
    position:absolute;
}
#sublist2{
    width: 150px;
    height: 60px;
    background-color: white;
    box-shadow:1px 1px 20px rgba(233, 220, 220, 0.637);
    line-height: 30px;
    display: none; 
    position:absolute;
}
#services:hover #sublist1{
    display:block;
}
#about:hover #sublist2{
    display:block;
}
.anchor{
    text-decoration: none;
    padding: 8px 16px;
    color: #000000;
}
#home{
    color: #FD5825;
    font-weight:800;
}
#contact{
    width: 115px;
    height: 36px;
    padding: 6px 12px;
    background-color: #FD5825;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    letter-spacing: 1.1px;
    cursor: pointer;
}

#content2{
    width: 1110px;
    height:430px;
    margin: 110px 70px;
    display: flex;
}
#text1{
    width: 50%;
    height: 100%;
    font-family: "Montserrat", sans-serif;
}
#head1{
    margin: 48px 0px 8px;
    font-size: 32px;
    color: #000000;
}
#para1{
    margin: 32px 0px 48px;
    font-size: 20px;
    line-height: 28px;
}
#image1{
    width: 50%;
    height: 100%;
    background-image: url(./HomePage.png);
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: 12px -60px;
}
#request{
    width: 190px;
    height: 46px;
    background-color: #FD5825;
    font-size: 16px;
    padding: 8px 16px;
    color: white;
    border: none;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    font-weight:500;
    letter-spacing: 1.5px;
    border-radius: 5px;
}
#content3{
    width: 1110px;
    height:330px;
    margin: 54px 70px;
    display: flex;
    justify-content: space-between;
}
aside{
    width: 32%;
    height: 100%;
    background-color: #FD5825;
    border-radius:5px;
    padding: 30px;
    transition:0.5s all;
}
.head2{
    margin: 0px 0px 8px;
    color: white;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.para2{
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.aside1{
    background-color:#fd5614;
}
.aside2{
    background-color: #ffc107;
}
.aside3{
    background-color:rgba(6, 115, 6, 0.833);
}
aside:hover{
    transform: scale(1.1);
}
.button1{
    border: none;
    font-size: 16px;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
#content4{
    width: 1110px;
    height:330px;
    margin: 54px 64px;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    /* background-color: yellowgreen; */
}
.scroll{
    width: 300px;
    height: 100%;
}
#content5{
    width: 100vw;
    height: 182px;
    background-color: #fd5614;
    padding: 55px;
    display: flex;
    justify-content: space-around;
}
.head3{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 44px;
    color: white;
}
.small{
    font-size: 16px;
    color: white;
    font-family: "Montserrat", sans-serif;  
    font-weight: 700;
}
#socialmedia{
    width: 1110px;
    height: 60px;
    box-shadow:1px 0px 20px rgba(233, 220, 220, 0.637);
    border: 1px solid white;
    margin: 0px 64px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif; 
    color: rgb(112, 111, 111); 
}
#text2{
    width: 200px;
    font-size: 25px;
    color: rgb(112, 111, 111);
    display: flex;
    justify-content: space-around;
}

footer{
    width: 100%;
    height: 500px;
    background-color: rgba(169, 161, 161, 0.021);
    display: flex;
    padding: 50px 80px;
}
.foot{
    width: 33%;
    height: 100%;
    margin: 0px 20px;
    color: rgb(112, 111, 111);
    line-height: 30px;
    padding: 30px;
    line-height: 25px;
    font-family: "Montserrat", sans-serif; 
}
.head4{
    font-size:18px;
}
a{
    color: rgb(112, 111, 111);
    font-size: 16px;
}
.para3{
    font-family: "Montserrat", sans-serif; 
    font-size:15px;
}
.anchor2{
    font-family: "Montserrat", sans-serif; 
}
#copyright{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(169, 161, 161, 0.174);
    font-family: "Montserrat", sans-serif; 
    margin-top:50px;
}
